---
http_interactions:
- request:
    method: get
    uri: https://api.smc-connect.org/search?keyword=Food&kind=Human%20Services&location=94103&page=1&per_page=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"1c9390f1341b5ca0d1c9f631c92a71c4"'
      Link:
      - <https://api.smc-connect.org/search?keyword=Food&kind=Human+Services&location=94103&page=3&per_page=5>;
        rel="last", <https://api.smc-connect.org/search?keyword=Food&kind=Human+Services&location=94103&page=2&per_page=5>;
        rel="next"
      X-Total-Count:
      - '11'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":204,"active":true,"admin_emails":[],"alternate_name":null,"coordinates":[-122.4194009,37.7712479],"description":"Adult
        and Teen Crisis Hotlines: two toll-free lines provide 24-hour crisis counseling,
        information and referrals to callers statewide. Drop-In Counseling Center
        provides victims and survivors with crisis and on-going counseling; suppport
        groups; emergency food and clothing; and resource advocacy and referrals.
        Emergency Shelter proram provides up to 8 weeks of safe housing and supportive
        services for women and children fleeing violence, with 24-ho[...]
