---
http_interactions:
- request:
    method: get
    uri: https://api.smc-connect.org/search?keyword=hi&kind=Human%20Services&location=94103&page=1&per_page=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"29460c314553527d99cf465a3e21bc50"'
      Link:
      - <https://api.smc-connect.org/search?keyword=hi&kind=Human+Services&location=94103&page=3&per_page=5>;
        rel="last", <https://api.smc-connect.org/search?keyword=hi&kind=Human+Services&location=94103&page=2&per_page=5>;
        rel="next"
      X-Total-Count:
      - '13'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":371,"active":true,"admin_emails":[],"alternate_name":null,"coordinates":[-122.4185755,37.7650243],"description":"Offers
        supportive services for Hispanic workers, union and non-union. Provides legal
        counseling, referrals and representation for monolingual persons in areas
        of employment, unemployment, wage claims, worker''s compensation referrals,
        domestic work and labor-related problems. Assists in writing work authorization
        letters and contacting employers for workers who are having difficulty as
        a result of the new immigration law. Offers classes and workshops in labor
        affairs, leadership skills, collective bargaining, labor history, contracts,
        negotiations, women and comparable worth, legalization and English as a Second
        Language. Helps coordinate labor studies programs in colleges. Consults frequently
        with Hispanic unionists on courses and programs. .","kind":"Human Services","latitude":37.7650243,"longitude":-122.4185755,"name":"Instituto
        Laboral de la Raza","short_desc":"Supportive services for Hispanic workers
        union or nonunion who are having labor-related problems.","slug":"instituto-laboral-de-la-raza","updated_at":"2014-11-25T17:22:00.864-08:00","url":"https://api.smc-connect.org/locations/instituto-laboral-de-la-raza","address":{"id":314,"address_1":"2947
        - 16th Street","address_2":null,"city":"San Francisco","state_province":"CA","postal_code":"94103"},"organization":{"id":371,"accreditations":[],"alternate_name":null,"date_incorporated":null,"description":null,"email":null,"funding_sources":[],"licenses":[],"name":"Instituto
        Laboral de la Raza","website":null,"slug":"instituto-laboral-de-la-raza","url":"https://api.smc-connect.org/organizations/instituto-laboral-de-la-raza","locations_url":"https://api.smc-connect.org/organizations/instituto-laboral-de-la-raza/locations"},"phones":[{"id":498,"department":"San
        Francisco","extension":null,"number":"415 431-7522","number_type":"voice","vanity_number":null},{"id":2727,"department":null,"extension":null,"number":"415
        431-4846","number_type":"fax","vanity_number":null}]},{"id":488,"active":true,"admin_emails":[],"alternate_name":null,"coordinates":[-122.4184108,37.7485824],"description":"Provides
        prenatal care, specialized HIV medical care, HIV counseling, antibody testing
        and delivery at San Francisco General Hospital. Women and their children will
        be seen in follow-up appointments when applicable.","kind":"Huma[...]
