---
http_interactions:
- request:
    method: get
    uri: https://api.smc-connect.org/search?keyword=Work&kind=Human%20Services&location=94103&page=1&per_page=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"a39a6f64b77f377feef27987e06c3d21"
      Link:
      - <https://api.smc-connect.org/search?keyword=Work&page=5&per_page=5>; rel="last",
        <https://api.smc-connect.org/search?keyword=Work&page=2&per_page=5>; rel="next"
      X-Total-Count:
      - '21'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":321,"active":true,"admin_emails":null,"alternate_name":"","coordinates":[-122.4079095,37.7928288],"description":"Provides
        vocational training services for low-income, limited English-speaking adults,
        primarily ethnic Chinese. The six-month program includes classroom study and
        on-the-job training (OJT) to earn a certificate in custodial maintenance.
        Program requires tuition of $1,475 in total. Student OJT work is paid at San
        Francisco minimum wage. Concludes with job placement assistance. Continuing
        support for alumni.","kind":"Human Services","latitude":37.7928288,"longitude":-122.4079095,"name":"Maintenance
        Training Corporation (MAINTRAIN)","short_desc":"On-the-job training program
        in custodial services for low-income, primarily Asian adults.","slug":"maintenance-training-corporation-maintrain","updated_at":"2016-03-07T15:30:51.607-08:00","website":"http://www.maintrain.org/program.html","url":"https://api.smc-connect.org/locations/maintenance-training-corporation-maintrain","address":{"id":270,"address_1":"777
        Stockton Street, Suite 202","address_2":null,"city":"San Francisco","state_province":"CA","postal_code":"94108"},"organization":{"id":321,"accreditations":[],"alternate_name":null,"date_incorporated":null,"description":null,"email":null,"funding_sources":[],"licenses":[],"name":"Maintenance
        Training Corporation (MAINTRAIN)","website":null,"slug":"maintenance-training-corporation-maintrain","url":"https://api.smc-connect.org/organizations/maintenance-training-corporation-maintrain","locations_url":"https://api.smc-connect.org/organizations/maintenance-training-corporation-maintrain/locations"},"phones":[{"id":426,"department":null,"extension":null,"number":"415
        398-3353","number_type":"voice","vanity_number":null},{"id":2692,"department":null,"extension":null,"number":"415
        398-3357","number_type":"fax","vanity_number":null}]},{"id":1199,"active":true,"admin_emails":null,"alternate_name":null,"coordinates":[-122.4052981,37.78597],"description":"Assists
        people affected by, or at risk for, HIV/AIDS through culturally appropriate
        counseling, education and advocacy to make informed choices which maximize
        available benefits and employment opportunities. The Employment Servi[...]
[...]
