---
http_interactions:
- request:
    method: get
    uri: https://api.smc-connect.org/search?keyword=Education&kind=Human%20Services&location=94103&page=1&per_page=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"d615dd6b61de572ce3709ff02480f331"
      Link:
      - <https://api.smc-connect.org/search?keyword=Education&page=10&per_page=5>;
        rel="last", <https://api.smc-connect.org/search?keyword=Education&page=2&per_page=5>;
        rel="next"
      X-Total-Count:
      - '49'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":334,"active":true,"admin_emails":null,"alternate_name":null,"coordinates":[-122.403704,37.7882758],"description":"Community-based
        program offering no-cost services to persons with developmental disabilities
        and specialized services for deaf and hear impaired. Provides supported employment
        opportunities in janitorial, housekeeping and grounds-keeping services for
        disabled adults through off-site contracts. Training and placement services
        are available for adults with disabilities. Offers a day activity center for
        developmentally disabled adults. Specialized deaf services provide coursework
        in American Sign Language and independent living skills for individuals referred
        by the Regional Centers and the Department of Rehabilitation.","kind":"Human
        Services","latitude":37.7882758,"longitude":-122.403704,"name":"Toolworks,
        Inc","short_desc":"Community-based program offering no-cost employment services
        to persons with developmental disabilities and specialized independent living
        skills for deaf and hearing impaired adults.","slug":"toolworks-inc","updated_at":"2014-11-25T17:22:00.376-08:00","website":"http://www.toolworks.org","url":"https://api.smc-connect.org/locations/toolworks-inc","address":{"id":283,"address_1":"25
        Kearny Street, Suite 400","address_2":null,"city":"San Francisco","state_province":"CA","postal_code":"94108"},"organization":{"id":334,"accreditations":[],"alternate_name":null,"date_incorporated":null,"description":null,"email":null,"funding_sources":[],"licenses":[],"name":"Toolworks,
        Inc","website":null,"slug":"toolworks-inc","url":"https://api.smc-connect.org/organizations/toolworks-inc","locations_url":"https://api.smc-connect.org/organizations/toolworks-inc/locations"},"phones":[{"id":443,"department":null,"extension":null,"number":"415
        733-0990","number_type":"voice","vanity_number":null},{"id":444,"department":null,"extension":null,"number":"415
        733-0992","number_type":"tty","vanity_number":null},{"id":2703,"department":null,"extension":null,"number":"415
        733-0991","number_type":"fax","vanity_number":null}]},{"id":1151,"active":true,"admin_emails":null,"alternate_name":null,"coordinates":[-122.430927,37.78667],"description":"Provides
        bilingual social services primarily for Japanese persons, including translation
        and interpretation. Drop-in c[...]
[...]
