---
http_interactions:
- request:
    method: get
    uri: https://api.smc-connect.org/search?keyword=computer&kind=Human%20Services&location=94103&page=1&per_page=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"c0e985fcff035449a92bf7dbf686a114"'
      X-Total-Count:
      - '1'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":1199,"active":true,"admin_emails":[],"alternate_name":null,"coordinates":[-122.4052981,37.78597],"description":"Assists
        people affected by, or at risk for, HIV/AIDS through culturally appropriate
        counseling, education and advocacy to make informed choices which maximize
        available benefits and employment opportunities. The Employment Services Program
        includes job search skills workshops, computer training, resume assistance,
        career counseling/vocational testing and Working While Disabled workshops.
        The Benefits Counseling Program for San Francisco residents provides individualized
        benefits counseling and advocacy.","kind":"Human Services","latitude":37.78597,"longitude":-122.4052981,"name":"Taft
        School Health Services","short_desc":"An employment service for persons with
        AIDS/HIV.","slug":"taft-school-health-services","updated_at":"2014-11-25T17:22:13.037-08:00","url":"https://api.smc-connect.org/locations/taft-school-health-services","address":{"id":957,"address_1":"785
        Market Street, 10th Floor","address_2":null,"city":"San Francisco","state_province":"CA","postal_code":"94103"},"organization":{"id":1199,"accreditations":[],"alternate_name":null,"date_incorporated":null,"description":null,"email":null,"funding_sources":[],"licenses":[],"name":"Positive
        Resource Center","website":null,"slug":"positive-resource-center","url":"https://api.smc-connect.org/organizations/positive-resource-center","locations_url":"https://api.smc-connect.org/organizations/positive-resource-center/locations"},"phones":[{"id":1572,"department":null,"extension":null,"number":"415
        777-0333","number_type":"voice","vanity_number":null},{"id":3239,"department":null,"extension":null,"number":"415
        777-1770","number_type":"fax","vanity_number":null}]}]'
  recorded_at: Mon, 11 May 2015 02:54:25 GMT
recorded_with: VCR 2.9.3
