---
http_interactions:
- request:
    method: get
    uri: https://api.smc-connect.org/search?keyword=hi&kind=Human%20Services&location=94103&page=1&per_page=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"5a18b0481ede5144244718ff9b3a1e1e"
      X-Total-Count:
      - '1'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":898,"active":true,"admin_emails":null,"alternate_name":null,"coordinates":[-122.402844,37.791402],"description":"Offers
        training for service providers in the area of adolescent health and youth
        development. Also offers health workshops for youth on such topics as self
        esteem, sexuality, safer sex, substance use and harm reduction, and anti-homophobia.
        Also offers training and technical assistance for peer educator groups. Extended
        youth development training also available.","kind":"Human Services","latitude":37.791402,"longitude":-122.402844,"name":"Health
        Initiatives for Youth (Hi-Fy)","short_desc":"Offers training programs in health
        for service providers and health workshops for youth.","slug":"health-initiatives-for-youth-hi-fy","updated_at":"2014-11-25T17:22:08.664-08:00","website":"http://www.youtube.com/hifymedia","url":"https://api.smc-connect.org/locations/health-initiatives-for-youth-hi-fy","address":{"id":723,"address_1":"235
        Montgomery Street, Suite 430","address_2":null,"city":"San Francisco","state_province":"CA","postal_code":"94104"},"organization":{"id":898,"accreditations":[],"alternate_name":null,"date_incorporated":null,"description":null,"email":null,"funding_sources":[],"licenses":[],"name":"Health
        Initiatives for Youth (Hi-Fy)","website":null,"slug":"health-initiatives-for-youth-hi-fy","url":"https://api.smc-connect.org/organizations/health-initiatives-for-youth-hi-fy","locations_url":"https://api.smc-connect.org/organizations/health-initiatives-for-youth-hi-fy/locations"},"phones":[{"id":1193,"department":null,"extension":null,"number":"415
        274-1970","number_type":"voice","vanity_number":null},{"id":3056,"department":null,"extension":null,"number":"415
        274-1976","number_type":"fax","vanity_number":null}]}]'
  recorded_at: Sun, 01 Jul 2018 01:50:52 GMT
[...]
