---
http_interactions:
- request:
    method: get
    uri: https://api.smc-connect.org/search?keyword=Work&kind=Human%20Services&location=94103&page=1&per_page=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"26b3afa04907fc3c66c12d9828bb7ca1"'
      Link:
      - <https://api.smc-connect.org/search?keyword=Work&kind=Human+Services&location=94103&page=7&per_page=5>;
        rel="last", <https://api.smc-connect.org/search?keyword=Work&kind=Human+Services&location=94103&page=2&per_page=5>;
        rel="next"
      X-Total-Count:
      - '35'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":1161,"active":true,"admin_emails":[],"alternate_name":null,"coordinates":[-122.4020736,37.7907516],"description":"Provides
        information, advocacy, counseling and legal services on employment-related
        issues to low-income individuals. Access to services is provided through Workers''
        Rights Clinics which address the full range of employment issues including
        unpaid wages, workplace discrimination, harassment, wrongful termination,
        disability rights in the workplace, workplace injuries, unemployment compensation,
        and family/medical leave. Clinics are located in San Francisco, Berkeley,
        East San Jose, Fresno, and Orange County.","kind":"Human Services","latitude":37.7907516,"longitude":-122.4020736,"name":"Employment
        Law Center","short_desc":"Legal representation for low-income persons with
        employment problems.","slug":"employment-law-center","updated_at":"2014-12-04T11:17:20.943-08:00","url":"https://api.smc-connect.org/locations/employment-law-center","address":{"id":927,"address_1":"180
        Montgomery Street","address_2":null,"city":"San Francisco","state_province":"CA","postal_code":"94104"},"organization":{"id":1161,"accreditations":[],"alternate_name":null,"date_incorporated":null,"description":null,"email":null,"funding_sources":[],"licenses":[],"name":"Legal
        Aid Society of San Francisco","website":null,"slug":"legal-aid-society-of-san-francisco","url":"https://api.smc-connect.org/organizations/legal-aid-society-of-san-francisco","locations_url":"https://api.smc-connect.org/organizations/legal-aid-society-of-san-francisco/locations"},"phones":[{"id":1521,"department":null,"extension":null,"number":"415
        864-8848","number_type":"voice","vanity_number":null},{"id":1522,"department":null,"extension":null,"number":"415
        864-8208","number_type":"voice","vanity_number":null},{"id":3217,"department":null,"extension":null,"number":"415
        864-8199","number_type":"fax","vanity_number":null}]},{"id":371,"active":true,"admin_emails":[],"alternate_name":null,"coordinates":[-122.4185755,37.7650243],"description":"Offers
        supportive services for Hispanic workers, union and non-union. Provides legal
        counseling, referrals and repr[...]
