---
http_interactions:
- request:
    method: get
    uri: https://api.smc-connect.org/search?keyword=Care&kind=Human%20Services&location=94103&page=1&per_page=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"901d098223c212ae6e7f429638874500"
      Link:
      - <https://api.smc-connect.org/search?keyword=Care&page=12&per_page=5>; rel="last",
        <https://api.smc-connect.org/search?keyword=Care&page=2&per_page=5>; rel="next"
      X-Total-Count:
      - '60'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":327,"active":true,"admin_emails":null,"alternate_name":"","coordinates":[-122.4033,37.774674],"description":"Provides
        supportive services to everyone impacted by domestic violence. Maintains a
        daily inventory of bed space at Bay Area battered women''s shelters. A drop-in
        center provides crisis assistance, options counseling and individual long-term
        therapy. Offers support groups for battered women and referrals to selected
        therapists and attorneys who work with abused women. The Latina Services program
        provides 24-hour, culturally appropriate services to monolingual Spanish speaking
        survivors. Provides training on domestic violence issues to other community
        organizations, hospitals and corporations. Volunteer program offers 40-hour
        certification trainings 3-4 times a year. Outreach program offers 10-hour
        training and also gives presentations in the community and tables at local
        events.","kind":"Human Services","latitude":37.774674,"longitude":-122.4033,"name":"WOMAN,
        Inc. (Women Organized to Make Abuse Nonexistent)","short_desc":"Supportive/social
        services to victims of domestic violence.","slug":"woman-inc-women-organized-to-make-abuse-nonexistent","updated_at":"2016-12-12T15:35:51.681-08:00","website":"http://www.womaninc.org","url":"https://api.smc-connect.org/locations/woman-inc-women-organized-to-make-abuse-nonexistent","address":{"id":276,"address_1":"26
        Boardman Place","address_2":null,"city":"San Francisco","state_province":"CA","postal_code":"94103"},"organization":{"id":327,"accreditations":[],"alternate_name":null,"date_incorporated":null,"description":null,"email":null,"funding_sources":[],"licenses":[],"name":"WOMAN,
        Inc. (Women Organized to Make Abuse Nonexistent)","website":null,"slug":"woman-inc-women-organized-to-make-abuse-nonexistent","url":"https://api.smc-connect.org/organizations/woman-inc-women-organized-to-make-abuse-nonexistent","locations_url":"https://api.smc-connect.org/organizations/woman-inc-women-organized-to-make-abuse-nonexistent/locations"},"phones":[{"id":433,"department":null,"extension":null,"number":"415
        864-4777","number_type":"voice","vanity_number":null},{"id":434,"department":"Crisis
        Line 24 hours daily","extension":null,"number":"415 864-4722","number_type":"voice","vanity_number":null},{"id":2697,"department":null,"extension":null,"number":"415
        864-1082","number_type":"fax","vanity_number":null}]},{"id":297,"active":true,"admin_emails":null,"alternate_name":null,"coordinates":[-122.405848,37.7896823],"description":"Helps
        individuals and couples facing infertility. Offers telephone counseling, local
        suppor[...]
[...]
