---
http_interactions:
- request:
    method: get
    uri: https://api.smc-connect.org/search?keyword=Care&kind=Human%20Services&location=94103&page=1&per_page=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"80c295d4ea629e8ff77be5e3fa021432"'
      Link:
      - <https://api.smc-connect.org/search?keyword=Care&kind=Human+Services&location=94103&page=13&per_page=5>;
        rel="last", <https://api.smc-connect.org/search?keyword=Care&kind=Human+Services&location=94103&page=2&per_page=5>;
        rel="next"
      X-Total-Count:
      - '62'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":1122,"active":true,"admin_emails":[],"alternate_name":null,"coordinates":[-122.4052981,37.78597],"description":"Family
        Caregiver Alliance (FCA) as the Bay Area Caregiver Resource Center, offers
        direct, comprehensive services for caregivers (partners/spouses, family, and
        friends) of adults who became cognitively impaired, due to illness or injury,
        after age 18. Diagnoses served include Alzheimer''s disease, stroke, Traumatic
        Brain Injury, Huntington''s disease, Parkinson''s disease, multiple sclerosis,
        Amyotrophic Lateral Scleroses (ALS), and others. Offers [...]
